{% extends 'app/base.html' %}

{% block content %}
    {% if request.user.id == post.user.id %}
        <a href="{% url 'home:delete_post' post.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'home:update_post' post.id %}" class="btn btn-primary">Update</a>
    {% endif %}

    <a href="{% url 'account:profile' post.user.id %}"><p>{{ post.user.username }}</p></a>
    <p>{{ post.body }}</p>
    <p>{{ post.created }}</p>
    <hr/>
    {% if request.user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Reply">
        </form>
    {% else %}
        <p class="alert alert-danger">You are not logged in</p>
    {% endif %}
    {% for comment in comments %}
        <div class="card bg-dark text-white">
            <p class="card_header">{{ comment.user.username }} | {{ comment.created|timesince }}</p>
            <p class="card_body ">{{ comment.body }}</p>
        </div>
    {% empty %}
        <p>No commnet yet</p>
    {% endfor %}

{% endblock %}