{% extends 'app/base.html' %}

{% block content %}
    {% if request.user.id == post.user.id %}
        <a href="{% url 'home:delete_post' post.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'home:update_post' post.id %}" class="btn btn-primary">Update</a>
    {% endif %}

    <a href="{% url 'account:profile' post.user.id %}"><p>{{ post.user.username }}</p></a>
    <p>{{ post.body }}</p>
    <p>{{ post.created }}</p>
    <hr/>
    {% if request.user.is_authenticated %}
        <a href="{% url 'home:like_view' post.id %}" class="{% if can_like %}disabled{% endif %} btn btn-primary col-md-2">Like {{ post.like_count }}</a>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Reply">
        </form>
        <br>
    {% else %}
        <p class="alert alert-danger">You are not logged in</p>
    {% endif %}
    {% for comment in comments %}
        <div class="card bg-dark text-white">
            <p class="card_header">{{ comment.user.username }} | {{ comment.created|timesince }}</p>
            <p class="card_body ">{{ comment.body }}</p>
        {% if user.is_authenticated %}
            <form action="" method="post" style="display: none;">
            {% csrf_token %}
            {{ reply_form.as_p }}
            <input type="submit" value="Reply">

            </form>
        {% endif %}
        {% with replays=comment.replays.all %}
            {% for replay in replays %}
                <p class="bg-secondary m-2 p-2">{{ replay.user.name }}<br>{{ replay.body}}</p>
            {% endfor %}
        {% endwith %}
        </div>
        <br>
    {% empty %}
        <p>No commnet yet</p>
    {% endfor %}


{% endblock %}